{% extends "users/base_generic.html" %}
{% block content %} 
   <h3>Welcome {{ user.username }}!</h3>
   <form action="{% url 'fetchData' %}" method="get">
      <input name="search" type="text" name="name_field" placeholder="Search keywords.">
      <input type="submit">

<form action="{% url 'showChart_with_ID' %}">
  <label>Choose a saved search:</label>
  <select name="id" id="cars">
    {% for item in q_res %}
    <option value="{{ item.search_id }}">{{ item.search_id }} - {{item.search_keyword}}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Submit">
</form>
{% endblock %} 
{% block analysis %} 
{% endblock %} 