{% extends "users/base_generic.html" %}
{% block content %}
   <br/>
   <h4>You can search and collect data by using the search box. Data collected will be added to "Select Data" dropdown menu.</h4>
   <form action="{% url 'fetchData' %}" method="POST">
    {% csrf_token %}
    <input name="search" type="text" name="name_field" placeholder="Search keywords">
    <input type="submit" value="Collect">
  </form>
  <br/>
  {% if search %}
   <h5>We are collecting data for keyword: {{search}} with search_id:{{search_id}}. 
     Data will be listed in the available tables menu when the collection process finishes.
     It will take about 5 minutes to collect the data. Refresh the tables to see your table in select data list.
   </h5>
   {% endif %}

<h5>To see analysis results you should select a table and push the submit button.
  Last 5 searches and 2 pre-collected tables(covid, netflix) are available in the "Select Data" list.
</h5>

<form action="{% url 'showChart_with_ID' %}" method='POST'>
  {% csrf_token %}
  <label>Select Data:</label>
  <select name="id" id="id">
    <option value="1">id: 1 - keyword: covid - date: 30.01.2021 </option>
    <option value="2">id: 2 - keyword: netflix - date: 30.01.2021 </option>
    {% for item in q_res %}
    <option value="{{ item.search_id }}">id: {{item.search_id }} - keyword: {{item.search_keyword}} -  date: {{item.query_datetime}}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Submit">
  <input type="submit" value="Refresh Dropdown List" name="refresh">
</form>

<style>
select{
  overflow:auto;
}
</style>


{% if msg %}
<h3>{{msg}}</h3>
{% endif %}
<br/>
{% if s_test %}
<h3>For keyword: {{kword.search_keyword}} with id: {{s_test}} total # of tweets collected: {{count}}</h3>
{% endif %}
{% if s_test %}
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Top30')">Top30</button>
  <button class="tablinks" onclick="openTab(event, 'Wordcloud')">Wordcloud</button>
  <button class="tablinks" onclick="openTab(event, 'Network')">Network</button>
</div>
{% endif %}

<div id="Top30" class="tabcontent" style=display:block>
  {% if chart %}<img src="data:image/png;base64, {{chart|safe}}">{% endif %}
</div>

{% if wcloud %}
<div id="Wordcloud" class="tabcontent">
     <img src="data:image/png;base64, {{wcloud|safe}}">
</div>
{% endif %}

{% if network %}
<div id="Network" class="tabcontent">
     <img src="data:image/png;base64, {{network|safe}}">
</div>
{% endif %}

<script>
function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}

</script>   

<style>
  body {font-family: Arial;}
  
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 0.2px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color:#ccc;
    float: left;
    border: .2px solid;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color:blue;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  height: 100%;
}
  </style>  

{% endblock content %}

{% block sidebar %}
<br></br>
<ul class="sidebar-nav">
  <li><a href="https://github.com/melikemaranki/SWE573/wiki" target= '_blank'>Project Wiki</a></li>
<li><a class='nav-item nav-link' href="{%url 'logout' %}">Logout</a></li>
</ul>
<br/>
   <h3>Welcome {{ user.username }}!</h3>
{% endblock %}